{% extends 'base.html' %}
{% block content %}

<main class="main-reservation">
        <article class="res-art">
        <h1 class="all-events-tittle">Field Schedule</h1>
        <h3 class="all-events-tittle">Reservations for {{ field.name }}:</h3>
        <ol>
            {% for reservation in reservations %}
                <li>
                    <p class="com">{{ reservation.reservation_date }} at {{ reservation.reservation_hour }}:00</p>
                    <p class="created">Reserved by: {{ reservation.user.username }}</p>
                </li>
            {% empty %}
                <li>No reservations found for this field.</li>
            {% endfor %}
        </ol>
    </article>
</main>
{% endblock %}