{% extends 'base.html' %}
{% block content %}

<main class="main-reservation">
        <article class="res-art">
        <h1>Field Schedule</h1>
        <p>Reservations for {{ field.name }}:</p>
        <ol>
            {% for reservation in reservations %}
                <li>{{ reservation.reservation_date }} at {{ reservation.reservation_hour }}:00 by {{ reservation.user.username }}</li>
            {% empty %}
                <li>No reservations found for this field.</li>
            {% endfor %}
        </ol>
    </article>
</main>
{% endblock %}