{% extends 'base.html' %}

{% block content %}
    <main class="main-reservation">
        <article class="res-art">
            <h2>Reservation for {{ field_name }}</h2>
            <p><strong>Working Time:</strong></p>
            <p> From: {{ start_working_day }} - {{ start_working_hour }}:00 To: {{ end_working_day }} - {{ end_working_hour }}:00</p>
            <form method="post">
                  {% csrf_token %}
                  {{ form.as_p }}

                  <input class="field-btn" type="submit" value="Reserve">
            </form>
        </article>
    </main>
{% endblock %}