{% extends 'base.html' %}

{% block content %}
    <main class="main-fd">
        <article class="art">
            <h2>{{ field.name }}</h2>
            <img class="field-pic" src="{{ field.image_url }}" alt="img">
            <p><strong>Location:</strong> {{ field.location }}</p>
            <p><strong>Sport:</strong> {{ field.sport }}</p>
            <p><strong>Description:</strong> {{ field.description }}</p>
            <p><strong>Working Time:</strong></p>
            <p><span><strong>From:</strong> {{ field.get_start_working_day }} - {{ field.get_start_working_hour }}</span>
            <span><strong>To:</strong> {{ field.get_end_working_day }} - {{ field.get_end_working_hour }}</span></p>
            <p><strong>Price per hour: </strong>{{ field.price_per_hour }} $</p>
            {% if user.is_authenticated %}
                <p><strong>Field Owner: </strong>{{ field.field_owner.company_name }}</p>
                 <button class="field-btn"><a href="{% url 'reservation_form' pk=field.pk %}" class="field-btn">Reserve this field</a></button>
            {% else %}
                <p>Please login to reserve. <button class="field-btn"><a class="field-btn" href="{% url 'login' %}?next={{ request.path }}">Login here.</a></button></p>
            {% endif %}
        </article>
    </main>
{% endblock %}

{#{% url 'reservation_form' field.pk %}#}