{% extends 'base.html' %}

{% block content %}
    <main class="main-fd">
        <article class="art">
            <p class="fdtr">
                <span class="fd-title"><strong>{{ field.name }}</strong></span>
                {% if field.get_average_rating %}
                    <span class="fd-rating">Rating {{ field.get_average_rating }} / 5</span>
                {% else %}
                    <span class="fd-rating">No reviews yet.</span>
                {% endif %}
                </p>
                <img class="field-pic" src="{{ field.image_url }}" alt="img">
                <p><strong>Location:</strong> {{ field.location }}</p>
                <p><strong>Sport:</strong> {{ field.sport }}</p>
                <p><strong>Description:</strong> {{ field.description }}</p>
                <p><strong>Working Time:</strong></p>
                <p><span><strong>From:</strong> {{ field.get_start_working_day }} - {{ field.get_start_working_hour }}</span>
                <span><strong>To:</strong> {{ field.get_end_working_day }} - {{ field.get_end_working_hour }}</span></p>
                <p><strong>Price per hour: </strong>{{ field.price_per_hour }} $</p>
                  {% if user.is_authenticated %}
                        {% if  user == field.field_owner %}
                            <button class="myf-btn"><a class="detail" href="{% url 'field_schedule' field.pk %}">Field schedule</a></button>
                            <button class="myf-btn"><a class="detail" href="{% url 'add_event' field.pk %}">Add Event</a></button>
                        {% elif user.field_owner %}
                        {% else %}
                            <p><strong>Field Owner: </strong>{{ field.field_owner.company_name }}</p>
                            <button class="field-btn"><a href="{% url 'reservation_form' pk=field.pk %}" class="field-btn">Reserve this field</a></button>
                            {% if not has_reviewed %}
                                <button id="leave-review-btn" class="field-btn">Leave Review</button>
                            {% else %}
                                <p>You have already left a review for this field.</p>
                            {% endif %}
                        {% endif %}
                  {% else %}
                        <button class="field-btn"><a class="field-btn" href="{% url 'login' %}?next={{ request.path }}">Please login to reserve</a></button>
                  {% endif %}
                    <p class="review-new">
                        <a href="{% url 'reviews' pk=field.pk %}">View Reviews for field</a> /
                        <a href="{% url 'events_list' pk=field.pk %}">View Events for field</a>
                    </p>

                    <div id="review-form-wrapper" style="display: none;">
                        <form id="review-form" method="post" action="{% url 'add_review' pk=field.pk %}">
                            {% csrf_token %}
                            {{ review_form.as_p }}
                            <button class="field-btn" type="submit">Submit Review</button>
                        </form>
                    </div>


        </article>
    </main>


        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const leaveReviewBtn = document.getElementById("leave-review-btn");
                const reviewFormWrapper = document.getElementById("review-form-wrapper");

                leaveReviewBtn.addEventListener("click", function () {
                    reviewFormWrapper.style.display = "block";
                    leaveReviewBtn.style.display = "none";
                });
            });
        </script>
{% endblock %}
