{% extends 'base.html' %}
{% block content %}
     <h1 id="mf-title">My Fields</h1>
    <main class="main">
        <div class="main-content">
        {% for field in fields %}
            <article class="pop">
                <img class="ground-pic" src="{{ field.image_url }}" alt="image">
                <h3>Name: <span class="sport2">{{ field.name }}</span></h3>
                <p class="info-text">Location: {{ field.location }}</p>
                <p class="info-text">Sport: <span class="sport">{{ field.sport }}</span></p>
                <div>
                    <button class="myf-btn"><a class="detail" href="{% url 'field_schedule' field.pk %}">Field schedule</a></button>
                    <button class="myf-btn"><a class="detail" href="{% url 'field_owner_reviews' field.pk %}">Field Reviews</a></button>
                </div>

                <div>
                    <button class="myf-btn"><a class="detail" href="{% url 'update_field' field.pk %}">Update</a></button>
                    <button class="myf-btn" ><a class="detail" href="{% url 'delete_field' field.pk %}">Delete</a></button>
                </div>

            </article>
        {% endfor %}
        </div>
    </main>
{% endblock %}

