<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style/404.css">
</head>
<body>
    <h1>Oops! Page Not Found</h1>
    <p>The page you're looking for doesn't exist. Please check the URL or go back to the <a href="http://localhost:8000/">home page</a>.</p>
    <img id='referee' src="https://cdn.pixabay.com/photo/2018/07/23/10/05/judge-3556460_1280.png" alt="">
</body>
</html>