{% extends 'base.html' %}

{% block content %}
    <main class="main-fd">
        <article class="art">
            <h1>All Events</h1>

            {% if events_list %}
                <ul>
                    {% for event in events_list %}
                        <li>
                            <h2>{{ event.title }}</h2>
                            <h3>Field: <a id="link-field" href="{% url 'field_detail' event.field.pk %}">{{ event.field.name }}</a></h3>


                            <div class="news-container">
                                {% if event.image %}
                                    <img class="news-pic" src="{{ event.image }}" alt="Event Image">
                                {% endif %}
                                <p class="news-content">{{ event.content }}</p>
                                <p>Location: {{ event.field.location }}</p>
                                <p>Sport: {{ event.sport }}</p>
                                <p class="news-pub">{{ event.date_published }}</p>
                                {% if user.is_authenticated %}
                                <button class="field-btn">
                                    <a class="field-btn" href="{% url 'event_detail' event.pk %}">Event Detail</a>
                                </button>
                                {% else %}
                                    <button class="field-btn">
                                        <a class="field-btn" href="{% url 'login' %}?next={{ request.path }}">Please login to see the event</a>
                                    </button>
                                {% endif %}

                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No events available.</p>
            {% endif %}
        </article>
    </main>

{% endblock %}